<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Suite">

<test name="SearchFeatureTest Module">
<classes>
    <class name = "test.ProductDetails"/>
    <class name="test.RegistrationLogin"/>
    <class name="test.SearchFeature"/>
    <class name="test.GoogleTest"/>
</classes>
</test>

</suite>